/* importation de bibiliotheques */

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700&family=Lato:ital,wght@0,400;0,700;0,900;1,400&family=Playfair+Display:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700&family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

body {
  color: white;
  background-color: black;
  margin: 0;
}
* {
  scroll-behavior: smooth;
}
/* Dégradés */
.degrader-blanc {
  background: linear-gradient(to right, #ffffff, #5a5a5a);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.degrader-rouge {
  background: linear-gradient(to right, #ff0000, #700000);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrader-vert {
  background: linear-gradient(to right, rgb(0, 226, 45), #007527);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  display: flex;

  background: #000000;
  z-index: 1;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(85, 85, 85, 0.489);
}

header img {
  margin-left: 30px;
  border-radius: 10px;
}

header p {
  margin-left: 2%;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 20px;

  font-family: "Lato", sans-serif;
  font-weight: 1000;
}

header .menu {
  margin: 0 auto;

  border-radius: 20px 20px 20px 20px;

  padding: 15px;

  display: flex;

  gap: 40px;
  width: 400px;
  margin-top: 10px;
  margin-left: -95%;
}

header .menu li {
  list-style-type: none;
  color: rgb(255, 255, 255);
}
a {
  transition: color 1s;
}

/* SURLIGNEMENT */

.menu li a {
  position: relative;

  padding-bottom: 5px; /* le surlignement sera legerement un peu + en dessous */
}

.menu li a::after {
  content: ""; /* permet un ptit surlignement au survol de la list*/
  position: absolute; /* definition d'une position fixe pr que le surlignement bouge jms */
  width: 0;
  height: 2px; /* hauteur du surlignement */
  bottom: 0;
  left: 0;
  background: radial-gradient(circle at center, #ff0303 0%, #000000 100%);
  transition: width 1s ease; /* largeur de l'animation de la ligne */
}

.menu li a:hover::after {
  width: 100%; /* pr que le surlignement prenne tt la largeur de chaque au moment du survol */
}

/* SURLIGNEMENT BLANC POUR LA PFP */

.pfp {
  position: relative;
}

.pfp::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px; /* distance sous l'image */
  left: 15px;
  background: radial-gradient(
    circle at center,
    hsl(0, 0%, 100%) 0%,
    #000000 100%
  );
  transition: width 0.5s ease;
}

.pfp:hover::after {
  width: 100%;
}

/****************************** HEADER* ****************/
.vert {
  /* mettre un dégradé a un txt */
  background: linear-gradient(to right, #008b0042, #00ae0c);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bataillon {
  margin-top: 10%;
  font-family: "Poppins", sans-serif;

  font-weight: 900;

  text-align: center;

  font-size: 2rem;
  background-color: black;

  border-bottom: 1px solid rgba(85, 85, 85, 0.489);

  justify-content: center;

  border-radius: 10px;
}

.bataillon h1 {
  text-align: center;

  text-transform: uppercase;
}

.link {
  font-style: oblique;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.bataillon p a:hover {
  color: green;
}

.img-bat {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.img-bat img {
  margin-top: 3%;
  transition: transform 1s ease-out;

  border-radius: 10px;
}
.img-bat img:hover {
  /* Petit zoom */
  transform: scale(1.02);
  /* petit effet doré sur les bordures qd on passe dessus*/
  box-shadow: 0 0 10px rgba(0, 162, 0, 0.993);
}

.personnages-container {
  display: flex; /* Active Flexbox */
  justify-content: center; /* Commence l'alignement à gauche */
  margin-left: 2%; /* Aligne avec le titre h2 */
  gap: 130px;
  margin-top: 1%;
  border-radius: 10px;
  margin-bottom: 5%;
}

/* ajt d'effet de zoom qd je passe sur une image */
.personnage-carte img {
  transition: transform 1s ease-out;
}

.personnage-carte:hover img {
  /* Petit zoom */
  transform: scale(1.02);
  /* petit effet doré sur les bordures qd on passe dessus*/
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.personnage-carte {
  display: flex;
  flex-direction: column; /* Empile le nom et l'image verticalement */
  align-items: center; /* Centre les éléments horizontalement */
  perspective: 1000px; /* Donne une profondeur 3D pour l'effet de rotation */
  cursor: pointer;
  width: 250px; /* Largeur de l'image */
  height: 480px; /* Hauteur totale nécessaire (image + nom + description) */
}

.flip-cards {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.face-avant,
.face-arriere {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Cache la face arrière lorsque l'élément tourne */
  backface-visibility: hidden;
  border-radius: 10px;
}

.face-arriere {
  transform: rotateY(180deg);
}

.est-retournee {
  transform: rotateY(-180deg);
}

.nom-perso {
  color: rgb(255, 255, 255);

  font-size: 20px;
  font-family: "Playfair Display", serif;
  font-weight: 500; /* Poids gras pour les titres */
  font-style: italic;

  margin: 10px 0 5px 0; /* Marge au-dessus et en dessous (plus petit en bas) */
  text-align: center;

  margin-bottom: 20px;
  margin: 10px 0 5px 0; /* Marge au-dessus et en dessous (plus petit en bas) */
}

.nom-perso a {
  color: white;
  text-decoration: none;
  transition: 1s;
}
#perso-scroll {
  margin-top: 5%;
  margin-bottom: 2%;
  /*Style*/
  text-align: center;
  font-size: 40px;

  font-family: "Poppins", sans-serif;
  font-weight: 800;
}
.personnage-carte img {
  border: 3px solid transparent;

  border-radius: 16px;
  margin: 0;
  border-top: 1px solid rgba(41, 41, 41, 0.489);
  border-bottom: 10px solid rgba(41, 41, 41, 0.489);
  margin-bottom: 5%;
}

.description-perso {
  border-top: 0;
  display: flex;

  gap: 130px;
  margin-top: -20px;
}
.description-perso p {
  /* couleur */
  margin-top: 20px;

  transition: 1s;

  border-radius: 10px;

  border-top: 1px solid rgba(41, 41, 41, 0.489);
  border-bottom: 10px solid rgba(41, 41, 41, 0.489);

  color: rgb(255, 255, 255);

  /* pr centrer le txt et qu'il prenne tt la place de la box */
  display: flex;
  text-align: center;
  align-items: center;

  /* alignement du txt */
  min-width: 200px;
  max-width: 200px;
  min-height: 100px;
  max-height: 100px;
}

.description-perso p:hover {
  transform: scale(1.01);

  box-shadow: 0 0 10px rgb(134, 134, 134);
}
p {
  text-align: center;
}

.membres-cles p {
  font-style: italic;
  font-style: bold;
  font-family: "Playfair Display", serif;

  font-size: 1.5rem;
}
/* Chrono */

.chrono {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%; /* pr creer de l'espace */
}

#btn-action {
  width: 10%;
  height: 50px;
  font-size: 20px;

  border: 0; /* suppression des bordures grises */
  border-radius: 10px;
  background: linear-gradient(to right, #00380c, #00b415);
}

#affichage {
  margin-top: 2%;
}
footer {
  border-top: 1px solid rgba(85, 85, 85, 0.489);

  padding: 10px;
  margin-top: 5%;
  background-color: black;
}

.fin-page h3,
p {
  display: flex;
  justify-content: center;
  text-align: center;
}

.fin-page h3 {
  margin-top: 3%;
  margin-bottom: 25px;
  font-size: 40px;
}

.fin-page p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
