/* corriger le prblm pr le titan d'Eren */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");

/* --- HEADER --- */

.degrader-blanc {
  background: linear-gradient(to right, #ffffff, #5a5a5a);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.degrader-rouge {
  background: linear-gradient(to right, #ffffff, #ff0000);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  display: flex;
  position: fixed;
  background: #000000;
  z-index: 1;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(85, 85, 85, 0.489);
}

header img {
  margin-left: 30px;
  border-radius: 10px;
}

header p {
  margin-left: 2%;
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.menu li a {
  text-decoration: none;
  color: white;
  font-size: 20px;

  font-family: "Lato", sans-serif;
  font-weight: 1000;
}

.menu li a:hover {
  color: red;
}

a {
  transition: color 1s;
}

header .menu {
  margin: 0 auto;

  border-radius: 20px 20px 20px 20px;

  padding: 15px;

  display: flex;
  gap: 20px;
  gap: 40px;
  width: 400px;
  margin-top: 10px;
  margin-left: -95%;
}

header .menu li {
  list-style-type: none;
  color: rgb(255, 255, 255);
}

.bg-black {
  background-color: black;
}

.presentation h1 {
  text-align: center;
  font-style: italic;
}

.presentation img {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

/* --- FIN DU HEADER --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background: radial-gradient(circle at center, #2c2929 0%, #000000 100%); */
  background-color: black;

  color: #ffffff;
  line-height: 1.6;
}
h1 {
  font-family: "Poppins", sans-serif;

  font-weight: 900;
  font-size: 3.5rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 60px;
  font-weight: 400;
  margin-bottom: 5%;
  margin-top: 10%;
}

.titans-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px 20px;
}

.founding-titan {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.founding-titan img {
  transition: transform 1s ease-out;
  border-radius: 10px;
}

.founding-titan img:hover {
  transform: scale(1.03);

  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.border-grey {
  /* Nouvelle marge pour l'espacement: 5% au-dessus et 5% en dessous */
  margin: 5% 0;
  /* Assurez-vous qu'elle prend toute la largeur */
  width: 100%;
  border-bottom: 1px solid rgba(85, 85, 85, 0.489);
}

.titans-primordiaux.page-title {
  background-color: black;
}

.titans-primordiaux img {
  display: flex;
  justify-content: center;
}
/* --- STRUCTURE DE LA CARTE TITAN --- */
.titan-card {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-radius: 12px;
  overflow: hidden; /* Important pour que l'image respecte les bords arrondis */
  margin-bottom: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  min-height: 320px; /* Hauteur minimale pour l'équilibre */
}

.titan-card.reverse {
  flex-direction: row-reverse;
}

.card-visual {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-visual img {
  max-width: 100%;
  height: auto;
  transition: transform 1s ease-out;
  display: block; /* pr que le texte ne bouge pas */
}
/* Couleurs spécifiques des images */
.visual-assaillant {
  /* background-color: #00410a;  Rouge sombre (Assaillant) */
  background: radial-gradient(circle at center, #03a52c 0%, #000000 100%);
}

.visual-assaillant img {
  border-radius: 10px;
  transition: transform 1s ease-out;
}

.visual-assaillant img:hover {
  display: flex;
  border-radius: 10px;
  transform: scale(1.03);

  box-shadow: 0 0 10px rgb(0, 255, 30);
}

.visual-colossal {
  background: radial-gradient(
    circle at center,
    #ff0000 0%,
    #000000 100%
  ); /* Rouge sombre (Colossal) */
}
.visual-colossal img {
  border-radius: 10px;
  transition: transform 1s ease-out;
}

.visual-colossal img:hover {
  display: flex;
  border-radius: 10px;
  transform: scale(1.03);

  box-shadow: 0 0 10px rgb(255, 0, 0);
}

.visual-armored {
  background: radial-gradient(circle at center, #ffffff 0%, #887544 100%);
}

.visual-armored img {
  border-radius: 10px;
  transition: transform 1s ease-out;
}

.visual-armored img:hover {
  display: flex;
  border-radius: 10px;

  transform: scale(1.03);

  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.visual-bestial {
  background: radial-gradient(
    circle at center,
    rgb(128, 89, 0) 0%,
    #000000 100%
  );
}

.visual-bestial img {
  border-radius: 10px;
  transition: transform 1s ease-out;
}

.visual-bestial img:hover {
  display: flex;
  transform: scale(1.03);

  box-shadow: 0 0 10px rgba(255, 255, 255, 0.76);
}

.visual-marteau {
  background: radial-gradient(
    circle at center,
    rgb(18, 129, 213) 0%,
    #000000 100%
  );
}

.visual-marteau img {
  transition: transform 1s ease-out;
  border-radius: 10px;
}

.visual-marteau img:hover {
  display: flex;
  transform: scale(1.03);

  box-shadow: 0 0 10px rgb(255, 255, 255);
}

/* --- PARTIE CONTENU (TEXTE) --- */
.card-content {
  flex: 1;
  background-color: #0d1321;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Typographie du contenu */
.titan-name {
  font-family: "Cinzel", serif;
  font-size: 1.8rem;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.titan-holder {
  font-size: 0.95rem;
  color: #8d99ae;
  margin-bottom: 20px;
}

.titan-holder strong {
  color: #edf2f4;
}

.titan-desc {
  color: #bdc3c7;
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 25px;
}

/* --- STATISTIQUES (Icones) --- */
.titan-stats {
  list-style: none;
  margin-top: 10px;
}

.titan-stats li {
  font-size: 0.9rem;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}

/* STATS DES TITANS */

/* Couleur rouge pour les stats de l'assaillant */
.stats-green li {
  color: #00410a; /* Rouge sombre (Assaillant) */
}

.stats-red {
  color: red;
}

.stats-beige {
  color: rgb(230, 213, 132);
}

.stats-brown {
  color: rgb(60, 42, 0);
}

.stats-cyan {
  color: rgb(122, 197, 255);
}

/* --- LISTE "AUTRES" EN BAS --- */
.others-list {
  text-align: center;
  color: #6c757d;
  font-size: 0.9rem;
  margin-top: 40px;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
  .titan-card,
  .titan-card.reverse {
    flex-direction: column; /* Les cartes s'empilent sur mobile */
  }

  .card-visual {
    min-height: 200px;
  }

  .card-visual span {
    font-size: 2rem;
  }

  .page-title {
    font-size: 1.8rem;
  }
}

footer {
  border-top: 1px solid rgba(85, 85, 85, 0.489);

  padding: 10px;
  margin-top: 5%;
  background-color: black;
}

.fin-page h3,
p {
  display: flex;
  justify-content: center;
}

.fin-page h3 {
  margin-top: 3%;
  margin-bottom: 5px;
  font-size: 40px;
}

.fin-page p {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
